.mainchat
  .main-header
    .main-header__top
      .title
        test
      .members
        69
    .main-header__edittop
      = link_to "#",class: "edit" do
        %p.edit
          Edit
        
  .main-content
    .main-content__user
      %p.user_name
        masa
      %p.date
        2020/1/4 10:00
    .main-content__comment
      %p.comment
        こんにちは

  .main-footer
    .main-footer__main-form
      %input.form{name:"massage", placeholder: " type a massage"}
      %label.icons
        %i.far.fa-image
          %input{type: "file",class: "g"}
    .main-footer__send-top
      %input{type: "submit", class: "send", value: "Send"}
