<!DOCTYPE html>
.side_bar
  .header
    .user
      test
      .name
        %ul.icon
          %li.icon_fa-edit
            = link_to "#" do
              %i.fa.fa-edit
          %li.icon_fa-cog
            = link_to "#" do
              %i.fa.fa-cog


  .side_content
    = link_to "#",class: "group" do
      .group
        %p.group_name
          チャット
        %p.group_alert
          メッセージ